body {

    margin: 0;
}

nav {

    height: 85px;
    background-color: white;
    width: 100%;
    position: fixed;

}

.logo {

    padding-left: 133px;
    width: 14%;
    padding-top: 14px;
    float: left;
}

.nav-btns {
    width: 69%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 25px;
}

.nav-btns>p {

    padding-right: 21px;
    font-size: 13px;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
}

.container-bg {

    padding-top: 70px;
    height: 560px;
    width: 100%;

}

.container-3-boxes {

    width: 82%;
    height: 1105px;
    padding-left: 125px;
    padding-right: 134px;

}

.box-1 {

    background: url("https://www.vivel.in/uploads/homepage/1.jpg");
    width: 340px;
    height: 340px;
    background-size: cover;
    padding: 10px;

}

.box-2 {

    background: url("https://www.vivel.in/uploads/homepage/3.jpg");
    width: 340px;
    height: 340px;
    background-size: cover;
    padding: 10px;

}

.box-3 {

    background: url("https://www.vivel.in/uploads/homepage/Blog%20home%20image%20500x500.jpg");
    width: 340px;
    height: 340px;
    background-size: cover;
    padding: 10px;

}

/* .box-2{

    background: url("https://www.vivel.in/uploads/homepage/1.jpg");
    width: 360px;
    height: 360px;
    float: left;
    background-size:cover;

}
.box-3{

    background: url("https://www.vivel.in/uploads/homepage/1.jpg");
    width: 360px;
    height: 360px;
    float: left;
    background-size:cover;

} */
.boxes-horizontal{

    flex-direction: row;
    display: flex;
    float: left;
    padding: 15px;


}

hr {

    margin-top: 20px;
    text-align: center;
    width: 1137px;
    margin-left: 15px;
    border: 0.1px solid  rgb(236 236 236);
    



}

h1 {
    color: #a9258dcc;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 266px;
    background: rgb(255 255 255 / 78%);
    height: 64px;
    margin-left: -10px;
    padding: 10px;
    margin-right: -10px;


}
.container-flower{

    height: 637px;
    width: 100%;
}
.flower-bg{

    width: 40%;
    margin-left: 127px;
    height: 490px;
    background-image: url("https://static.vivel.in/img/flower.png");
    margin-top: 30px;
    background-size: cover;
    float: left;

}.boxes-vertical{

    flex-direction: column;
    display: flex;
    padding: 13px;
    float: right;
    padding-right: 29px;

}
.box-4{

    background: url("https://static.vivel.in/img/alovera-one.jpg");
    width: 340px;
    height: 295px;
    background-size: cover;
    padding: 10px;
}
.box-5{

    background: url("https://www.vivel.in/newimgs/Milk-cream-new.png");
    width: 340px;
    height: 274px;
    background-size: cover;
    padding: 10px;

}
.flower-bg>p{

    margin-top: 210px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;

}
.text{
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-around;
    padding-top: 75px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #767676;
}
footer{

    width: 82%;
    height: 70px;
    padding-left :125px;
}
footer>p{

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #767676;


}

